//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 Education (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Thu 09 03 11:32:38 2026

IO_LOC "LCD_PCLK" 35;
IO_PORT "LCD_PCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_R[4]" 71;
IO_PORT "LCD_R[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[3]" 72;
IO_PORT "LCD_R[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[2]" 73;
IO_PORT "LCD_R[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[1]" 74;
IO_PORT "LCD_R[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_R[0]" 75;
IO_PORT "LCD_R[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[5]" 55;
IO_PORT "LCD_G[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[4]" 56;
IO_PORT "LCD_G[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[3]" 57;
IO_PORT "LCD_G[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[2]" 68;
IO_PORT "LCD_G[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[1]" 69;
IO_PORT "LCD_G[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_G[0]" 70;
IO_PORT "LCD_G[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[4]" 41;
IO_PORT "LCD_B[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[3]" 42;
IO_PORT "LCD_B[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[2]" 51;
IO_PORT "LCD_B[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[1]" 53;
IO_PORT "LCD_B[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_B[0]" 54;
IO_PORT "LCD_B[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "LCD_VSYNC" 34;
IO_PORT "LCD_VSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_HSYNC" 40;
IO_PORT "LCD_HSYNC" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DE" 33;
IO_PORT "LCD_DE" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "nRST" 4;
IO_PORT "nRST" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_27m" 52;
IO_PORT "clk_27m" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;